<h1>New Widget</h1>

<%= form_with scope: :widget, url: widgets_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :purpose %><br>
    <%= form.text_area :purpose %>
  </p>

  <p>
    <%= form.label :size %><br>
    <%= form.text_field :size %>
  </p>

  <p>
    <%= form.label :id %><br>
    <%= form.text_field :id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
