<p>
  <strong>Name:</strong>
  <div name="name"><%= @widget.name %></div>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @widget.purpose %>
</p>

<p>
  <strong>Size:</strong>
  <%= @widget.size %>
</p>

<p>
  <strong>ID:</strong>
  <div name="id"><%= @widget.id %></div>
</p>

<%= link_to 'Back', widgets_path %>