<p>
  <strong>Name:</strong>
  <%= @widget.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @widget.purpose %>
</p>

<p>
  <strong>Size:</strong>
  <%= @widget.size %>
</p>

<p>
  <strong>ID:</strong>
  <%= @widget.id %>
</p>

<%= link_to 'Back', widgets_path %>